* {margin: 0; }
body {background-color: #FFF; font-family: Tahoma, Geneva, sans-serif; color: #FFF; font-size: 14px; min-height: 100%; height: auto !important; height: 100%; position: absolute;}
html, body { width: 100%;}
ul { list-style: inside;}
img {border:0;}
.clear { clear: both; height: 0px; padding: 0px; margin: 0px; line-height: 0px; font-size: 0px;}
a {color: #faf41e; }
a:hover { text-decoration: none; }
.centermap { width: 940px; margin: 0 auto; position: relative;}
#min { min-width: 1000px; width:expression(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) < 1000 ? "1000px" : "auto"); position: relative;}
.slide-show {display: block; }
.slide-hide {display: none;}

/*bg*/
.bg { background: url(../images/bg.jpg) center repeat;}
.logo { background: url(../images/logo-maestro.png) no-repeat; position: absolute; width: 290px; height: 80px; margin: 58px auto; }
.logo a { padding: 36px 290px 36px 0; top: 90px; display: inline-block; }
.bg_top { background: url(../images/top.jpg) top center no-repeat;}
.bg_foot { background: url(../images/foot.jpg) bottom center no-repeat; min-height: 1627px;}
.bg_foot2 { background: url(../images/foot.jpg) bottom center no-repeat; min-height: 1397px;}
/*bg*/


/*head*/
.head { height: 883px;}
.str { margin: 0; text-align: center; }
.number { padding: 5px 10px 4px 10px; background: #faf41e; margin: 1px; display: inline-block; color: #000000; outline: none; text-decoration: none; font-weight: bold; }
.number:hover { opacity:0.5; }
.tel { position: absolute; margin-top: 50px; margin-left: 760px; font-size: 15px; font-weight: 600; text-decoration: none; }
.tel img { margin-bottom: 20px;}
.phone { padding: 36px 290px 36px 0; top: 536px; position: absolute; }
.menu { background: url(../images/menu.gif) no-repeat; font-size: 16px; width: 652px; height: 33px; position: absolute; right: 0; margin-top: 90px; opacity:1; z-index: 9999; }
.fixed {
    background: #ffff3d center repeat-x;
    height: 60px;
    position: fixed;
    margin-top: 0px;
    /* left: 488px; */
    width: 100%;
    z-index: 9999;
    opacity: 0.9;
    font-size: 26px;
   }
.fixed .nav2 { margin: 0 auto; width: 940px; }
.fixed .nav2 :hover ul.sub li { width:460px; }
.fixed .nav2 :hover ul.sub li a { margin-left: 8px; }
.fixed .nav2 :hover ul.sub { margin-top: 26px;}
.fixed .nav2 li a.top_link { padding: 14px 2px;}
.fixed .nav2 li.top2 { height: 60px; background: url(../images/menu_li_big.gif) right top no-repeat;}
.nav2 { padding: 0; list-style: none; margin-left: 15px; }
.nav2 li.top2 { background: url(../images/menu_li.gif) right top no-repeat; height: 33px; float:left; padding-left: 12px; padding-right: 13px;  }
.nav2 li.top2_last {  height: 33px;float:left; padding-left: 12px; }
.nav2 li a.top_link { display:block; float:left;   text-decoration:none; color: #000; height: 20px; padding-top: 6px;  }
.nav2 li a.top_link img { float: left; }
.nav2 :hover ul.sub li a:hover { }
.nav2 :hover ul.sub li a.fly:hover { }
.nav2 :hover ul li:hover > a.fly {} 
.nav2 a:hover {visibility:visible; position:relative; z-index:200; }
.nav2 li:hover {position:relative; z-index:200;}
.nav2 ul, 
.nav2 :hover ul ul, 
.nav2 :hover ul :hover ul ul,
.nav2 :hover ul :hover ul :hover ul ul,
.nav2:hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none; }
.nav2 :hover ul.sub { left: 0px; top: 33px; white-space:nowrap; width: auto;  height:auto; z-index:300; border:  none; }
.nav2 :hover ul.sub img {}
.nav2 :hover ul.sub li { background-color: #faf41e; width: 290px; padding-left: 6px; padding-top: 10px; padding-bottom: 10px; margin-bottom: 2px;   }
.nav2 :hover ul.sub li a { color: #000; text-decoration: none;  }
.nav 2:hover ul.sub li a:hover { }



.zakaz { background: url(../images/zakaz.gif) no-repeat; position: absolute; width: 88px; height: 20px; text-align: center; color: #FFF; padding-top: 6px; font-size: 12px; right: 24px; margin-top: 123px; display:none;}

.skype { position: absolute; right: 0; width: 104px;  top: 52px; color: #000;}
.skype a { text-decoration:none; color: #000;}

.flash { position: absolute; right: 15px; top: 627px;}
/*head*/

/*content*/
.content { min-height: 562px;}
.block { float: left; width: 530px;}
.tx { padding-left: 19px; padding-bottom: 37px;}
.text { width: 297px; padding-left: 19px;}
.text2 { width: 910px; padding-left: 19px;}
.text p { line-height: 16px;}
.block3 { background: url(../images/block3.gif) no-repeat; width: 336px; height: 79px; margin-top: 29px;}
.block3 p { padding-left: 41px; padding-right: 41px; padding-top: 10px; line-height: 17px;}
.tx2 { width: 331px; text-align: right; padding-top: 23px; color: #efea58;}

.block2 { float: left; width: 350px;}
.tx3 {  padding-bottom: 37px;}
.list { padding: 0; list-style: outside; list-style: none;}
.list li { padding-left: 10px; padding-bottom: 12px;}

.block4 { padding-top: 50px;}
.tx5 { padding-bottom: 20px; padding-left: 28px;}
.block5 { width: 100%; padding-right: 50px; padding-left: 28px; padding-bottom:10px; }
.block555 { float: left; width: 392px; padding-right: 50px; padding-left: 28px; }
.block55 { width: 900px; padding-right: 50px; padding-left: 28px; }
.foto { float: left; margin-right: 22px;}
.data { padding-top: 10px; padding-bottom: 2px;}
.block5 p { line-height: 18px;}
.block555 p { line-height: 18px;}
.block55 p { line-height: 18px;}

.tx4 { padding-top: 25px; text-align: right; padding-right: 28px;}
.tx4 img { margin-bottom: -2px;}
/*content*/

/*foot*/
.foot { border-top: 1px solid #6a6929; padding-top: 33px; padding-bottom: 29px; margin-top: 49px; color: #a1a0a5; font-size: 16px;}
.copy { float: left; width: 248px; padding-left: 28px;}
.site {color: #efea58; padding-top: 11px;}
.site a {color: #efea58;}

.menu2 { float: left; padding-top: 20px; font-size: 14px;}
.menu2 a { margin-right: 25px;}
/*foot*/



.tumbs { margin-left: 60px; margin-bottom: 30px;}
.tumb { width: 163px; padding-bottom:10px;float: left; padding-right: 52px; padding-top: 10px;}
.tumb img { border: 10px solid #faf41e; }
.tumb p { padding: 0;}



.content h1 { text-align: center; padding: 0px 0px 10px 0px; font-size: 20px; color: #ffffff; font-weight: bold; }
.content h2 { text-align: center; padding: 0px 0px 10px 0px; font-size: 16px; color: #ffffff; font-weight: bold; }
.content p { padding-top: 8px; }