BODY {
	FONT-SIZE: 9pt; FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#F2F8FF,endcolorstr=#BDD3EB); MARGIN: 5px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 9pt; MARGIN: 5px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 9pt; MARGIN: 5px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE {
	FONT-SIZE: 9pt; MARGIN: 5px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
HR {
	BORDER-RIGHT: #ffffff 1px inset; BORDER-TOP: #ffffff 1px inset; BORDER-LEFT: #ffffff 1px inset; BORDER-BOTTOM: #ffffff 1px inset
}
.error {
	FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.input_color {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; WIDTH: 65px; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.input {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.input_small {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; WIDTH: 50px; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bt {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#92B6DE,endcolorstr=#DDECFE); BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.img_pick {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 10px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 10px
}
.img_pick_over {
	BORDER-RIGHT: #ff0000 1px outset; BORDER-TOP: #ff0000 1px outset; BORDER-LEFT: #ff0000 1px outset; WIDTH: 10px; BORDER-BOTTOM: #ff0000 1px outset; HEIGHT: 10px
}
.txt {
	FONT-SIZE: 10px
}
TABLE.clFlatTable {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
.clRowHeader {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; BACKGROUND: #003375; BORDER-LEFT: #000000 1px solid; COLOR: white; BORDER-BOTTOM: #000000 1px solid
}
.clRowHeader TD {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #000000 1px solid; COLOR: white; BORDER-BOTTOM: #000000 1px solid
}
.clRowHeader A {
	COLOR: yellow; TEXT-DECORATION: none
}
.clRowHeader A:visited {
	COLOR: yellow; TEXT-DECORATION: none
}
.clRowHeader A:hover {
	COLOR: red
}
.clRowHeader A:active {
	COLOR: red
}
.clRowDark {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BACKGROUND: #e8eef4; BORDER-LEFT: #7f9db9 1px solid; COLOR: black; BORDER-BOTTOM: #7f9db9 1px solid
}
.clRowDark TD {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; COLOR: black; BORDER-BOTTOM: #7f9db9 1px solid
}
.clRowDark A {
	COLOR: #01389b; TEXT-DECORATION: none
}
.clRowDark A:visited {
	COLOR: #01389b; TEXT-DECORATION: none
}
.clRowDark A:hover {
	COLOR: red
}
.clRowDark A:active {
	COLOR: red
}
.clRowLight {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BACKGROUND: #f7f9fe; BORDER-LEFT: #7f9db9 1px solid; COLOR: black; BORDER-BOTTOM: #7f9db9 1px solid
}
.clRowLight TD {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; COLOR: black; BORDER-BOTTOM: #7f9db9 1px solid
}
.clRowLight A {
	COLOR: #01389b; TEXT-DECORATION: none
}
.clRowLight A:visited {
	COLOR: #01389b; TEXT-DECORATION: none
}
.clRowLight A:hover {
	COLOR: red
}
.clRowLight A:active {
	COLOR: red
}
