.WXEDIT_default_toolbar {
	
}
.WXEDIT_default_toolbar_top {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#DDECFE,endcolorstr=#81A9E2); VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 30px
}
.WXEDIT_default_toolbar_left {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#DDECFE,endcolorstr=#81A9E2); COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
WXEDIT_default_toolbar_right {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; FILTER: progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#DDECFE,endcolorstr=#81A9E2); COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.WXEDIT_default_toolbar_bottom {
	PADDING-RIGHT: 5px; FONT-SIZE: 9pt; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.WXEDIT_default_editarea {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 9px; BORDER-LEFT: 1px solid; COLOR: #000000; LINE-HEIGHT: 12px; BORDER-BOTTOM: 1px solid; FONT-FAMILY: verdana; LETTER-SPACING: 0px
}
.WXEDIT_default_tb_input {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 10px; FONT-FAMILY: verdana; LETTER-SPACING: 0px; BACKGROUND-COLOR: #c5daf6
}
.span_WXEDIT_default_tb_over {
	BORDER-RIGHT: #071282 1px solid; BORDER-TOP: #071282 1px solid; BORDER-LEFT: #071282 1px solid; BORDER-BOTTOM: #071282 1px solid; BACKGROUND-COLOR: #f4c964
}
.span_WXEDIT_default_tb_down {
	BORDER-RIGHT: #eeeeee 1px solid; BORDER-TOP: #071282 1px solid; BORDER-LEFT: #071282 1px solid; BORDER-BOTTOM: #eeeeee 1px solid; BACKGROUND-COLOR: #f5bc4f
}
.span_WXEDIT_default_tb_up {
	BORDER-RIGHT: #071282 1px solid; BORDER-TOP: #071282 1px solid; BORDER-LEFT: #071282 1px solid; BORDER-BOTTOM: #071282 1px solid; BACKGROUND-COLOR: #f5bc4f
}
.span_WXEDIT_default_tb_off {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(Opacity=30)
}
.span_WXEDIT_default_tb_out {
	
}
