@import url( formIE.css );
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
.head {
	FONT-SIZE: 40px
}
.subhead {
	FONT-SIZE: 12px
}
.title {
	FONT-SIZE: 18px; FONT-FAMILY: verdana; color: #333333;
}
.foot {
	BORDER-TOP: #e0e0e0 1px solid; FONT-SIZE: 10px
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px
}
A {
	COLOR: #00357f; font-size: 1.2em; TEXT-DECORATION: underline;
}
A:visited {
	COLOR: #00357f; TEXT-DECORATION: underline;
}
A:active {
	COLOR: #00357f; TEXT-DECORATION: underline;
}
A:hover {
	COLOR: #006aff; TEXT-DECORATION: underline;
}
A.th {
	COLOR: #00357f; TEXT-DECORATION: none
}
A.th:visited {
	COLOR: #00357f; TEXT-DECORATION: none
}
A.th:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.th:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.tpage_a {
	BORDER-TOP: #808080 1px solid; BORDER-LEFT: #808080 1px solid
}
.tpage_n {
	BORDER-TOP: #808080 1px solid; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.tpage_e {
	BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid
}
.tpage {
	BORDER-RIGHT: #808080 1px solid; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid
}
#iSM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; PADDING-TOP: 0px; HEIGHT: 30px
}
#iSM UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#iSM UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 1px; HEIGHT: 30px; TEXT-ALIGN: center
}
#iWeak {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 84px; COLOR: #adadad; PADDING-TOP: 2px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center
}
#iMedium {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 84px; COLOR: #adadad; PADDING-TOP: 2px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center
}
#iStrong {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; WIDTH: 84px; COLOR: #adadad; PADDING-TOP: 2px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center
}
#iWeak {
	BORDER-RIGHT: #dedede 1px solid
}
#iMedium {
	BORDER-RIGHT: #dedede 1px solid
}
#iMedium {
	WIDTH: 84px
}
#iMedium {
	BORDER-LEFT-WIDTH: 0px
}
#iStrong {
	BORDER-LEFT-WIDTH: 0px
}
