BODY {
	BACKGROUND-IMAGE: url(backgrou.jpg); MARGIN: 0px
}
A.link {
	FONT-WEIGHT: normal; COLOR: #014391; TEXT-DECORATION: underline
}
A.link:link {
	FONT-WEIGHT: normal; COLOR: #014391; TEXT-DECORATION: underline
}
A.link:visited {
	FONT-WEIGHT: normal; COLOR: #014391; TEXT-DECORATION: underline
}
A.link:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.link:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu {
	PADDING-RIGHT: 1px; MARGIN-TOP: 1px; DISPLAY: block; PADDING-LEFT: 1px; 
FONT-WEIGHT: normal; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; COLOR: #000080; PADDING-TOP: 
1px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 27px;
text-decoration: none;
}
A.menu:link {
	COLOR: #00357f; text-decoration: none;
}
A.menu:visited {
	COLOR: #00357f; text-decoration: none;
}
A.menu:hover {
	COLOR: #006aff; text-decoration: none;
}
A.menu:active {
	COLOR: #006aff; text-decoration: none;
}
A.menu_active {
	PADDING-RIGHT: 1px; MARGIN-TOP: 1px; DISPLAY: block; PADDING-LEFT: 1px; 
FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; COLOR: #000000; 
PADDING-TOP: 1px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: 
nowrap; HEIGHT: 27px
}
A.menu_active:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu_active:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu_active:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu_active:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.submenu {
	PADDING-RIGHT: 1px; MARGIN-TOP: 1px; DISPLAY: block; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; COLOR: #3b73ca; PADDING-TOP: 1px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 16px; TEXT-DECORATION: underline
}
A.submenu:link {
	COLOR: #3b73ca; TEXT-DECORATION: underline
}
A.submenu:visited {
	COLOR: #3b73ca; TEXT-DECORATION: underline
}
A.submenu:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.submenu:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bottom {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
TD.content {
	BORDER-RIGHT: #eff0f7 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eff0f7 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 2px; BORDER-LEFT: #eff0f7 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #eff0f7 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
TD.content2 {
	BORDER-RIGHT: #eff0f7 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eff0f7 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #e1efff; PADDING-BOTTOM: 2px; BORDER-LEFT: #eff0f7 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #eff0f7 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
TD.content3 {
	BORDER-RIGHT: #6c98d9 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6c98d9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #b6d5f8; PADDING-BOTTOM: 2px; BORDER-LEFT: #6c98d9 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #6c98d9 1px solid; WHITE-SPACE: nowrap; HEIGHT: 30px
}
TD.content4 {
	BORDER-RIGHT: #eff0f7 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eff0f7 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #eff0f7 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #eff0f7 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.textinput {
	BORDER-RIGHT: #6c98d9 1px solid; BORDER-TOP: #6c98d9 1px solid; FONT-SIZE: 8pt; MARGIN: 2px; BORDER-LEFT: #6c98d9 1px solid; BORDER-BOTTOM: #6c98d9 1px solid; FONT-FAMILY: Verdana; HEIGHT: 21px; BACKGROUND-COLOR: white
}
.textinput2 {
	BORDER-RIGHT: #6c98d9 1px solid; BORDER-TOP: #6c98d9 1px solid; FONT-SIZE: 8pt; MARGIN: 2px; BORDER-LEFT: #6c98d9 1px solid; BORDER-BOTTOM: #6c98d9 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white
}
.button {
	BORDER-RIGHT: #326bc0 1px solid; BORDER-TOP: #326bc0 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(button00.gif); BORDER-LEFT: #326bc0 1px solid; COLOR: #000000; BORDER-BOTTOM: #326bc0 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 22px; TEXT-ALIGN: center
}
.login_bottom {
	FONT-SIZE: 10px; COLOR: #99a0b1
}
.login_text {
	COLOR: #334163
}
.login_time {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #99a0b1
}
