{page_header}
            	<p class="tx"><? if (file_exists("files/newss/page1_$current.jpg")) { ?><img src="/files/newss/page1_<?=$current;?>.jpg" alt="" /><? } ?><? if (!file_exists("files/newss/page1_$current.jpg")) { ?><h3>{page_name}</h3><? } ?></p>
	
<div class="tumbs">
		<?
		$ordby="prior ";
   
   $icat="2";
   $cats="cat_id=$icat";
   $limits="";
   $path=get_path($current);
   $ldate="";
   $date=time();
   
   $query="select id from ".$db_pref."news where hide=0 and date<=$date  and (edate>=$date or edate=0)   and ($cats) $ldate order by $ordby";
   $res=mysql_query($query);
   $c= mysql_num_rows($res);
		$n = ($_REQUEST[page]-1)*12;
		if ($_REQUEST[page] == "" or $_REQUEST[page] == "1") { $n=0; $page=1; }
		$k=$n+15;

   $query="select id,date,header,anons,author,author_mail,source,source_url,dok1,dok2,dok3,cena1,cena2,cena3,cena4 from ".$db_pref."news where hide=0 and date<=$date  and (edate>=$date or edate=0)   and ($cats) $ldate order by $ordby  limit $n, 12";
   $res=mysql_query($query);
   $nnum=mysql_num_rows($res);
   $ncount=0;
   $ncount2=1;
   
   while (list($nid,$ndate,$nheader,$nanons,$nauthor,$nauthor_mail,$nsource,$nsource_url,$dok1,$dok2,$dok3,$cena1,$cena2,$cena3,$cena4) = mysql_fetch_row($res)) {
     $ncount++;
     $ndate=date("d.m.Y",$ndate);
     $ntime=date("H:i",$ndate);
     $nfoto1=$pref."files/newss/foto1_$nid.jpg";
     $nfoto1_small=$pref."files/newss/foto1_{$nid}_small.jpg";
     $nfoto2=$pref."files/newss/foto2_$nid.jpg";
     $nfoto3=$pref."files/newss/foto3_$nid.jpg";
     $ndok1=$pref."files/newss/doks/$dok1";
     $ndok2=$pref."files/newss/doks/$dok2";
     $ndok3=$pref."files/newss/doks/$dok3";
     $nprint_url=$pref."/news_print.php?ntpl=2&print_id=$nid";
     $nf=fopen("pages/n$nid",r);
   $ns=@fread($nf,filesize("pages/n$nid"));
   fclose($nf);
   ?>
   <div class="tumb">
                        	<a rel="lightbox[0]" href="/<?=$nfoto1;?>" target="_blank" title="<?=$nheader;?>"><img src="<?=$nfoto1_small;?>" alt="" /></a>
                            <p><?=$nheader;?></p>
                        </div>
      		
		<? 
		if ($ncount2/4==intval($ncount2/4)) echo '<br class="clear" />';
		     $ncount2++;

		}
		?>
		<br class="clear" />
        </div>
		<? if($c>12) { ?>
        <div class="str">Страница 
		<? 
		$p=1;
		for ($i=0; $i<$c; $i=$i+12)
		{
		if ($page == $p) {$cl=" class=\"act\"";}
		?>
		<a <?=$cl;?> href="/portfolio/?page=<?=$p;?>" title=""><?=$p;?></a>
<? 		 $p++; $cl=""; }  ?>
				
		</div>
	<? } ?>	        <div class="clear"></div>
	
	
	{page_footer}