{page_header}
	<!--  -->
	
            	<p class="tx"><? if (file_exists("files/newss/page1_$current.jpg")) { ?><img src="/files/newss/page1_<?=$current;?>.jpg" alt="" /><? } ?><? if (!file_exists("files/newss/page1_$current.jpg")) { ?><h3>{page_name}</h3><? } ?></p>
                <div class="text2">
					{page}
</div>
{page_footer}