<li><a href="{news_url}" title="">{news_header}</a></li>
<!-- 
<span class="news_date">{news_date}</span>  <span class="news_name">{news_header}</span>
<div class="news">
{news_anons}<br>
<div class="more"><a href="{news_url}">Подробнее</a></div>
</div>
<div class="razd">&nbsp;</div> -->