  <tr>
	 <td align="center"  class="comment_table" valign = top>
	
	 
	 <div style="position: absolute; left:0; top:0; height:0; z-index:0">
<img src="{news_photo1}" id="{news_ID}" style = "border:#D0D0D0 1px solid; visibility:hidden;" width="400" height="400" onclick="hidemenu({news_ID});return false;" >

</div><img src="{news_photo1}" border="1" style="cursor:pointer " align="left" onclick="showmenu({news_ID}, event);return false;" width="200">
	 
	 </td>
	 <td width="17%" valign="middle" align="center" class="comment_table" valign = top><a href="{news_url}">{news_header}</a></td>
	 <td width="50%" valign="middle" class="comment_table" valign = top><p>{news_anons}</p></td>
	 <td width="7%" valign="middle" class="comment_table" valign = top align="center">{cena1}</td>
	 <td width="7%" valign="middle" class="comment_table" valign = top align="center">{cena2}</td>
	 <td width="7%" valign="middle" class="comment_table" valign = top align="center">{cena3}</td> 
	 <td width="7%" valign="middle" class="comment_table" valign = top align="center">{cena4}</td>

	 </tr>
	<!--      <p class="data">{news_date}</p>
         <a href="{news_url}" title="">{news_header}</a>
         <p>{news_anons}</p>

<span class="news_date">{news_date}</span>  <span class="news_name">{news_header}</span>
<div class="news">
{news_anons}<br>
<div class="more"><a href="{news_url}">Подробнее</a></div>
</div>
<div class="razd">&nbsp;</div> -->