* {margin: 0; padding: 0; border: 0;}
body { font-family: Tahoma; color: #ffffff; font-size: 12px; background-color: #FFFFFF;min-height: 100%; height: auto !important; height: 100%; position: absolute;}
html, body { width: 100%;}
ul { list-style: none;}
img {border:0}
.clear { clear: both; height: 0px; padding: 0px; margin: 0px; line-height: 0px;}
.centermap { width: 1000px; margin: 0 auto;}

/*head*/
.headbg { background: url(../images/head_bg.jpg) repeat-x; height: 128px;}
.head_l { background: url(../images/head_l.jpg) left top no-repeat; height: 128px;}

/*drop_menu*/
.tel { top:50px; right:10px; float:right; padding-top:50px; padding-right:10px; height:25px; position:absolute z-index:500;font-size: 18px; color: #000000;}
.menu2 { margin-left: 400px; margin-top: 50px; float: left;list-style:none; height:25px; position:relative; z-index:500;}
.menu2 li.top {display:block; float:left;}
.menu2 li a.top_link { background: url(../images/menu_a.gif) right no-repeat;display:block; float:left; height:23px;   text-decoration:none; font-size:12px;font-size: 18px; color: #000000; padding-left: 16px; padding-right: 16px;  }
.menu2 li a.top_link2 { display:block; float:left; height:23px;   text-decoration:none; font-size:12px;font-size: 18px; color: #000000; padding-left: 16px; padding-right: 16px;  }
.menu2 li a.top_link span {}

.menu2 :hover ul.sub li a:hover { }
.menu2 :hover ul.sub li a.fly:hover { }
.menu2 :hover ul li:hover > a.fly {} 
.menu2 table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}
.menu2 a:hover {visibility:visible; position:relative; z-index:200; }
.menu2 li:hover {position:relative; z-index:200;}
.menu2 ul, 
.menu2 :hover ul ul, 
.menu2 :hover ul :hover ul ul,
.menu2 :hover ul :hover ul :hover ul ul,
.menu2 :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none; }

.menu2 :hover ul.sub {left:-5px; top:20px;  padding:3px; white-space:nowrap; width:194px; height:auto; z-index:300; }
.menu2 :hover ul.sub li {display:block; height: 35px; position:relative; float:left; width:194px; font-weight:normal; border-bottom: 1px dotted  #000000;}
.menu2 :hover ul.sub li a { color: #000000; background: url(../images/li.png) no-repeat;display:block; height: 31px; position:relative; float:left; width:184px; font-weight:normal; text-decoration: none; padding-top: 4px; padding-left: 10px; font-size: 12px; }
.menu2 :hover ul.sub li a:hover { background: url(../images/li_hover.png) no-repeat;}


.menu2 :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul :hover ul :hover ul
{left:194px; top:0px;   white-space:nowrap; width:194px; z-index:400; height:auto;  }
.menu2 :hover ul.sub .last { border: none;}

/*drop_menu*/
/*head*/

/*flash*/
.flash { background-color: #FFFFFF;}
/*flash*/

/*main*/
.mainbg { background: url(../images/mainbg.jpg) repeat-x; height: 298px;}
.main_l { background: url(../images/main_l.jpg) left top no-repeat; height: 270px; padding-top: 28px;padding-bottom: 200px;}
.left { padding-left: 56px; width: 410px;}
.right { padding-left: 3px;}
.title { font-size: 25px; color: #000000; text-transform: uppercase;}
.list li { background: url(../images/list_li.gif) 0 10px no-repeat; width: 318px; padding-left: 40px; padding-top: 5px;}
.list li a { font-size: 13px; color: #6e6e6e; text-decoration: none;}
.text { background: url(../images/text.jpg) left top no-repeat;   color: #000000; padding-top: 20px; padding-bottom: 25px; padding-left: 15px; padding-right: 30px; }
.textbg { background: url(../images/textbg.jpg)  top repeat-x; background-color: #f2f2f2;width: 100%; margin-top: 10px;}
.text p { border-left: 1px solid  #000000; padding-left: 12px;}
/*main*/

/*foot*/
.footbg { background: url(../images/footbg.jpg) repeat-x; height: 181px; position: absolute; bottom: 0; width: 100%;}
.foot_r { background: url(../images/foot_r.jpg) right no-repeat; height: 181px;}
.menu  { color: #000000; width: 350px; margin: 0 auto; padding-top: 85px; }
.menu a { font-size: 13px; color: #000000; text-transform: uppercase;text-decoration: none; margin-left: 6px; margin-right: 6px;}
.copy { font-size: 10px; color: #959595; text-align: center; padding-top: 30px;}
/*foot*/


/*katalog*/
.content2 { background: url(../images/content2.jpg) left top no-repeat; padding-bottom: 200px;}
.title2 { font-size: 25px; color: #000000; text-transform: uppercase; padding-top: 30px; padding-left: 102px;}
/*block*/
.block { background:  url(../images/block.jpg) top no-repeat; width: 315px; color: #000000; margin-left: 97px; background-color: #f2f2f2; padding-bottom: 10px; padding-top: 10px; }
.block p { border-left: 1px solid #000000; margin-left: 10px; padding-left: 9px; padding-right: 25px;}
/*block*/
.tumb { float: left; width: 136px; color: #999999; font-size: 10px; margin-right: 5px;}
.tumb span { font-size: 11px; color: #4c4c4c; font-weight: bold;} 
.pict { padding: 3px; border: 1px solid #e5e5e5;}
.pict :hover { border: 1px solid #e5e5e5;}
.tx2 img { float: right; margin-top: 5px;}
.right2 { padding-left: 15px;}
.tumbs { padding-top: 60px;}
.tumbs td { color:#000000;}
.tumbs p { color:#000000;}
.info { font-size: 11px; color: #636363;   padding-top: 100px; width: 300px; padding-right: 30px; float: left;}
.info p {padding-bottom: 18px;}
.centermap2 { width: 940px; margin: 0 auto;}
.cars { float: left; width: 605px;}
.title3 { color: #494949; text-align: right; font-size: 25px; line-height: 20px; padding-top: 33px; padding-right: 5px;}
.title3 span { font-size: 18px;}
.gray_l { background: url(../images/gray_l.jpg) left top no-repeat;padding-bottom: 200px;}
.gray { background: url(../images/gray.jpg) top repeat-x; margin-top: 2px;}
.border { border-bottom: 1px dotted #adadad; border-top: 1px  dotted #adadad; padding-top: 10px; padding-bottom: 10px; margin-top: 15px; width: 600px;  }
.border img { border: 1px solid #d0d0d0;}
.foto { margin-top: 15px;}
.foto img { border: 1px solid #d0d0d0;float: left;margin-right: 1px;}
.foto a { float: left; }
/*katalog*/
